---
import ThemeToggle from './ThemeToggle.astro'
---

<header class="container">
  <div class="flex h-16 items-center justify-between">
    <h1 class="text-xl font-semibold tracking-wide"><a href="/">drewjs</a></h1>
    <div>
      <ThemeToggle />
    </div>
  </div>
</header>
